body {
    font-family: Roboto, sans-serif;
}
html {
    scroll-behavior: smooth;
}
.header {
    background-color: #000000;
    height: 95px;
}
.header__container {
    height: 100%;
    vertical-align: middle;
}
.header__link a{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    color: #afabab;
    font-size: 14px;
}
.header__button {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    padding: 8px 20px;
    border-radius: 20px;
    transition: .5s;
    border: solid #989494 2px;
}
.header__button:hover {
    border: 2px solid #d61919;
    background-color: #d61919;
    box-shadow: 0 0 30px 6px rgba(216, 20, 6, 0.22);
}
.info {
    background: url("../public/fon.jpg") center center;
    height: 855px;
    position: relative;
    display: flex;
    justify-content: center;
}
.line {
    position: absolute;
    bottom: 0;
}
.info__container {
    max-width: 1370px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 100px;
    box-sizing: border-box;
    align-items: center;
}
.info__content {
    max-width: 500px;
    margin-top: -80px;
}
.info__content h2 {
    font-family: Roboto, sans-serif;
    letter-spacing: 0.4px;
    line-height: 125%;
    color: #ede7e7;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
}
.info__box {
    margin: 50px 0;
}
.info__txt {
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(210, 209, 210);
    line-height: 2.143;
}
.info__txt:first-child {
    margin-bottom: 10px;
}
.content__button {
    position: relative;
    z-index: 10;
    background-color: #d61919;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 16px;
    padding: 20px 40px;
    border-radius: 30px;
    transition: .5s;
}
.content__button:hover {
    background-color: #b51414;
    box-shadow: 0 0 30px 6px rgba(216, 20, 6, 0.42);
}
.info__weight {
    font-size: 86px;
    font-weight: 900;
}
.info__red {
    color: #d61919;
    letter-spacing: -2px;
}
.brands {
    background-color: #070708;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.brands__container {
    position: relative;
    max-width: 1370px;
    width: 100%;
    height: 100%;
    display: flex;
    padding: 0 100px;
    box-sizing: border-box;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.brands__title {
    letter-spacing: .2px;
    z-index: 5;
    margin-bottom: 80px;
    text-align: center;
    margin-top: 60px;
    font-size: 48px;
    font-family: "Roboto", sans-serif;
    color: rgb(210, 209, 210);
    font-weight: bold;
    line-height: 1.283;
}
.brands__content {
    width: 100%;
    display: flex;
}
.brands__img{
    margin: -150px 0 0 -300px;
    height: 100%;
}
.brands__info {
    margin-top: 100px;
    margin-left: -50px;
    width: 100%;
}
.brands__infoTitle {
    width: 100%;
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
}
.button__info {
    margin-top: 10px;
}
.brands__txtTitle {
    margin: 30px 0 5px 0;
    font-size: 18px;
    color: #d2d1d2;
}
.button__casino {
    padding: 20px 30px;
    border-width: 1px;
    transition: .5s;
    border-color: rgb(214, 25, 25);
    border-style: solid;
    font-size: 16px;
    border-radius: 30px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 3;
}
.button__casino:hover {
    background-color: rgb(214, 25, 25);
}
.brands__txt {
    font-size: 14px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    color: rgb(210, 209, 210);
    line-height: 2.143;
}
.brands__numbers {
    padding: 50px 17px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.brands__span {
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    margin-bottom: 18px;
    line-height: 0.5;
}

.brands__numbersBox {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.brands__numbersTxt {
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.5;
}
.brands__subInfo {
    width: 100%;
    border-radius: 4px;
    border: solid 1px #262527;
    display: flex;
    justify-content: space-between;
}
.brands__subInfoTitle {
    text-align: center;
    margin-top: 20px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: rgb(139, 132, 139);
    font-weight: bold;
    line-height: 1.667;
}
.brands__subInfoContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}
.brands__subInfoContainer:nth-of-type(1) {
    max-width: 270px;
    width: 100%;
}
.brands__subInfoContainer:not(:last-child):after {
    content: url('/lineNumber.png');
    position: absolute;
    right: 0;
    top: 0;
}
.brands__subInfoContainer:nth-of-type(2) {
    max-width: 500px;
    width: 100%;
}
.brands__subInfoContainer:nth-of-type(3), .brands__subInfoContainer:nth-of-type(4) {
    max-width: 200px;
    width: 100%;
}
.brands__subInfoLink {
    margin-top: 16px;
    text-align: center;
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    color: rgb(214, 25, 25);
    font-weight: bold;
}
.brands__subTxt{
    font-size: 22px;
    font-family: "Roboto", sans-serif;
    color: rgb(210, 209, 210);
    font-weight: bold;
    margin-top: 16px;
    line-height: 1.364;
}
.brands__flag {
    margin: 5px 0;
}
.button__start{
    margin: 80px 0 100px 0;
}
.brands__container:after {
    z-index: 1;
    display: flex;
    margin-bottom: -10px;
    justify-content: center;
    bottom: 0;
    max-width: 100%;
    position: absolute;
    content: url("/fog.png");
}
.icons__icon {
    position: relative;
}
.icons {
    background-color: #0a0b0c;
    display: flex;
    height: 282px;
    justify-content: center;
}
.icons__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 865px;
    width: 100%;
    height: 100%;
}
.icons__img {
    margin-top: -30px;
}
.icons__span{
    position: absolute;
    top: 65%;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    color: #ffffff;
    line-height: 1.235;
}
.advantages {
    position: relative;
    background-color: #11141a;
    display: flex;
    overflow: hidden;
    justify-content: center;
}
.reviews {
    background-image: url("/fon-rew.png");
    height: 700px;
    display: flex;
    justify-content: center;
}
.reviews__container {
    max-width: 1370px;
    width: 100%;
    height: 100%;
    padding: 0 100px;
}
.reviews__item {
    margin: 0 15px 0 15px;
    border-radius: 4px;
    background-color: #dbdee3;
    opacity: .15;
    height: 350px;
}
.slick-center .reviews__item{
    background-color: #dbdee3;
    opacity: 1;
}
.reviews__content {
    display: flex!important;
}
.advantages:before {
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    content: url("/fog-last.png");
}
.fake {
    background: linear-gradient(89.75deg, #DBDEE3 -62.22%, rgba(255, 255, 255, 0) 93.24%);
    opacity: 0.051;
}
.reviews__item {
    padding: 25px;
}
.reviews__itemTitle {
    padding-bottom: 20px;
    display: none;
    align-items: center;
    border-bottom: solid 1px #a6abb3;
}
.slick-center .reviews__itemTitle {
    display: flex;
}
.reviews__carousel {
    margin-top: 40px;
}
.reviews__itemTxt {
    display: none;
    padding-top: 20px;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(0, 0, 0);
    line-height: 2.143;
}
.slick-center .reviews__itemTxt {
    display: block;
}
.react-multiple-carousel__arrow {
    outline: none!important;
    background-color: transparent!important;
}
.slick-next {
    right: calc(7% + 1px)!important;
    z-index: 10;
}
.slick-prev {
    left: calc(7% + 1px)!important;
    z-index: 10;
}
.reviews__item {
    width: 100%;
}
.reviews__itemTitleTxt {
    margin-left: 20px;
    font-size: 12px;
    max-width: 170px;
    font-family: "Roboto", sans-serif;
    color: rgb(56, 58, 59);
    line-height: 1.5;
}
.brands__item {
    max-width: 292px;
    width: 100%;
    display: flex;
    margin-bottom: 100px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.brands__logoMobil {
    display: none;
}
.advantages__container {
    position: relative;
    max-width: 1370px;
    width: 100%;
    height: 100%;
    padding: 0 100px 0 100px;
    box-sizing: border-box;
}

.brands__box {
    padding-top: 70px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}
.slick-next:before {
    content: url("/l.svg");
}
.slick-prev:before {
    content: url("/r.svg");
}
.brands__itemTitle {
    margin: 20px 0 18px 0;
    font-size: 26px;
    font-family: "Roboto", sans-serif;
    color: rgb(210, 209, 210);
    font-weight: bold;
    line-height: 1.154;
    text-align: center;
}
.brands__itemTxt {
    text-align: center;
    font-size: 14px;
    color: #d2d1d2;
    line-height: 1.7;
    margin-top: 16px;
    font-family: "Roboto", sans-serif;
}
.contact {
    display: flex;
    justify-content: center;
    height: 860px;
    overflow: hidden;
    background-color: #090B13;
}
.contact__title {
    z-index: 11;
    position: relative;
}
.contact__container {
    position: relative;
    max-width: 1370px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 280px 100px 0 100px;
    box-sizing: border-box;
}
.footer__txtLogo {
    font-size: 12px;
    font-family: "Roboto", sans-serif;
    color: rgb(175, 171, 171);
    text-transform: uppercase;
    line-height: 1.5;
}
.footer__link {
    transition: .5s;
    font-size: 14px;
    font-family: "Roboto", sans-serif;
    color: rgb(175, 171, 171);
    text-transform: uppercase;
    line-height: 3.429;
}
.footer__link:hover {
    cursor: pointer;
    color: #ffffff;
}
.footer {
    width: 100%;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact__container h2 {
    text-align: center;
    font-family: Roboto, sans-serif;
    letter-spacing: 0.4px;
    color: #ede7e7;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 60px;
    line-height: 1;
}
.contact__container:before {
    position: absolute;
    content: url("/contact.png");
    top: 0;
    display: flex;
    justify-content: center;
    right: 0;
    left: 0;
}
.footer__logo {
    display: flex;
    align-items: center;
}
.contact__buttons {
    margin-top: 70px;
    position: relative;
    display: flex;
    z-index: 10;
}
.contact__button {
    display: flex;
    padding: 18px 40px;
    transition: .5s;
    border-radius: 30px;
    border: solid 1px #d61919;
    box-shadow: 0 0 30px 6px rgba(216, 20, 6, 0.22);
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
}
.brands__flag {
    display: flex;
    max-width: 450px;
    flex-wrap: wrap;
    justify-content: center;
}
.events {
    background: #000000;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.events__container {
    max-width: 1170px;
    padding-bottom: 140px;
}
.events .slick-slide {
    height: 450px;
}
.slick-dots {
    bottom: auto;
}
.slick-dots {
    margin-top: 30px;
}
.slick-dots li button {
    border: #282a2f 2px solid;
    border-radius: 50%;
}
.events__redAffiliates {
    background-image: url("/events-active.png");
    background-size: cover;
}
.events__redAffiliates2 {
    background-image: url("/events-2.png");
    background-size: cover;
}
.events__redAffiliates3 {
    background-image: url("/events-3.png");
    background-size: cover;
}
.events .slick-list .slick-active {
    height: 570px!important;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(214, 25, 25);
    border-radius: 6px;
}
.events .slick-track {
    display: flex;
    transition: .5s;
    align-items: center;
}
.events .slick-next {
    right: -50px !important;
}
.events .slick-prev {
    left: -50px !important;
}
.events .slick-slide div {
    height: 100%;
}
.brands__flag img {
    width: 35px;
    margin-right: 10px;
}
.social__inf{
    display: flex;
}
.slick-active button{
    background-color: #d61919!important;
    border: #d61919 2px solid!important;
}
.slick-dots li button:before {
    content: '';
}
.social__inf img{
    margin-right: 20px;
}
.line__bot {
    bottom: 150px;
}
.contact__button img{
    margin-right: 10px;
}
.contact__button:hover {
    background-color: #d61919;
}
.contact__button:not(:last-child) {
    margin-right: 30px;
}

/* Tab content - closed */
.tab-content {
    max-height: 0;
    -webkit-transition: max-height .35s;
    -o-transition: max-height .35s;
    transition: max-height .35s;
}
/* :checked - resize to full height */
.tab input:checked ~ .tab-content {
    max-height: 100vh;
}
.arr:after {
    content: url("/arow-down.svg");
}
/* Icon */
.tab label::after {
    float: right;
    right: 50%;
    position: absolute;
    margin: auto;
    left: 50%;
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5;
    font-size: 1.25rem;
    text-align: center;
    -webkit-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}
.tab input[type=checkbox] + label::after {
    content: url("/arow-down.svg");
    cursor: pointer;
}
.tab input[type=checkbox]:checked + label::after {
    content: '';
}
.tab {
    position: relative;
}
.tab input[type=radio]:checked + label::after {
    transform: rotateX(180deg);
    background-color: #6574cd; /*.bg-indigo*/
    color: #f8fafc; /*.text-grey-lightest*/
}

@media (max-width: 1350px) {
    .brands__logo {
        display: none;
    }
    .brands__logoMobil {
        display: flex;
        margin-top: 30px;
    }
    .brands__content {
        flex-direction: column;
    }
    .brands__img {
        margin: -20% 0 0 -10%;
        width: 100%;
    }
    .brands__container {
        max-width: none;
        padding: 0!important;
    }
    .brands__info {
        margin: 40px 0 0 0;
        padding: 0;
    }
    .brands__infoTitle{
        justify-content: center;
    }
    .brands__subInfo, .brands__numbers, .brands__txtBox {
        max-width: 1100px;
        padding: 50px 5%;
    }
    .brands__info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 1220px) {
.events .slick-next {
    right: 40px !important;
}
.events .slick-prev {
    left: 35px !important;
}
}
@media (max-width: 1170px) {
    .events__container {
        max-width: 100%;
    }
}
@media (max-width: 1000px) {
    .brands__subInfoContainer {
        max-width: none!important;
    }
    .brands__subInfo {
        flex-wrap: wrap;
    }
    .brands__subInfo {
        max-width: 90%;
        padding-bottom: 20px;
    }
    .brands__subInfoContainer:not(:last-child):after {
        content: '';
    }
}
@media (max-width: 800px) {
    .brands__item {
        max-width: 48.5%;
    }
    .brands__box {
        justify-content: space-between;
    }
}
@media (max-width: 750px) {
    .brands__numbersBox:nth-of-type(1), .brands__numbersBox:nth-of-type(2) {
        width: 50%;
        margin-bottom: 25px;
    }
    .icons {
        height: auto;
    }
    .contact__button:not(:last-child) {
        margin: 0 0 34px 0;
    }
    .contact__buttons {
        margin-top: 34px;
        flex-direction: column;
        max-width: 240px;
        align-items: center;
    }
    .contact__container {
        padding: 100px 5% 0 5%;
    }
    .contact {
        height: auto;
    }
    .contact__box{
        display: flex;
        padding-bottom: 70px;
        flex-direction: column;
        align-items: center;
    }
    .contact__button img {
        width: 20px;
    }
    .footer__link {
        padding: 15px 0;
    }
    .contact__button {
        font-size: 12px;
    }
    .icons__container {
        padding-top: 30px;
        flex-direction: column;
        align-items: center;
    }
    .advantages__container {
        padding: 0 5%;
    }
    .icons__img {
        margin-top: -60px;
        max-width: 200px;
    }
    .info__container {
        padding: 0 5%;
        justify-content: center;
    }
    .info__content {
        text-align: center;
    }
    .brands__span {
        font-size: 42px;
    }
    .brands__numbersTxt {
        font-size: 14px;
    }
    .brands__title {
        font-size: 32px;
    }
    .info__content h2 {
        font-size: 30px;
    }
}
@media (max-width: 600px) {
    .events .slick-list .slick-active {
        height: 300px!important;
    }
    .events .slick-slide {
        height: 250px;
    }
    .reviews {
        display: none;
    }
    .info {
        height: 655px;
    }
    .brands__title {
        margin-bottom: 10px;
    }
    .brands__logoMobil {
        max-width: 50%;
    }
    .footer {
        flex-direction: column;
        height: 100%;
        padding: 25px 0 50px 0;
    }
    .line__bot {
        bottom: 250px;
    }
    .contact__container h2 {
        font-size: 30px;
    }
    .info__weight {
        font-size: 48px;
        line-height: 130%;
    }
    .brands__itemTitle {
        font-size: 18px;
    }
    .brands__itemTxt {
        font-size: 11px;
    }
}